<!-- Partial que desenha o rodapé-->
<footer>
  <!-- FOOTER -->
    <div id="footer">
       Copyright &copy; 2012 Engenharia Web | Miniature World Db | <%= link_to "Sobre Nós", about_path %> | <%= link_to "Contactos", contacts_path %><br />
    </div>
</footer>