<!--Este partial serve para moldar a pagina html com a descricao dos erros, CSS tambem está feito no custom-->
<!--Notar que foi alterado para receber um qualquer object e mostrar os problemas com a sua inserção-->
<!--Basicamente ele verificar se o objecto que foi submitted tem erros e deita-os cá para fora numa lista-->

<% if object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(object.errors.count, "error") %>
        Este <%= object.class.to_s.underscore.humanize.downcase %> proibido de registar </h2>
      <p>Existem problemas com os seguintes campos:</p>
      <ul>
        <% object.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

